# PX action of equity + etfs

In [12]:
import requests
import pandas as pd

url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo'

r = requests.get(url)

In [13]:
data = r.json()
data

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume',
  '2. Symbol': 'IBM',
  '3. Last Refreshed': '2025-10-06 19:55:00',
  '4. Interval': '5min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (5min)': {'2025-10-06 19:55:00': {'1. open': '289.1300',
   '2. high': '289.4000',
   '3. low': '289.1300',
   '4. close': '289.1400',
   '5. volume': '24'},
  '2025-10-06 19:50:00': {'1. open': '289.8400',
   '2. high': '289.8400',
   '3. low': '289.4100',
   '4. close': '289.4100',
   '5. volume': '89'},
  '2025-10-06 19:45:00': {'1. open': '289.8400',
   '2. high': '289.8400',
   '3. low': '289.5200',
   '4. close': '289.6700',
   '5. volume': '117'},
  '2025-10-06 19:40:00': {'1. open': '289.8400',
   '2. high': '289.8400',
   '3. low': '289.6000',
   '4. close': '289.6700',
   '5. volume': '54'},
  '2025-10-06 19:35:00': {'1. open': '289.6900',
   '2. high': '289.6900',
   '3. low': '289.1300',
   '4. close': '289.6000',
   '5. volume': '18'},
  '2025-10-06 19:30:00': {'1. open': '289.7500',
   '2. high': '289.8500',
   '3. low': '289.7500',
   '4. close': '289.8500',
   '5. volume': '31'},
  '2025-10-06 19:25:00': {'1. open': '289.1300',
   '2. high': '289.1300',
   '3. low': '289.1300',
   '4. close': '289.1300',
   '5. volume': '1'},
  '2025-10-06 19:20:00': {'1. open': '289.7500',
   '2. high': '289.7500',
   '3. low': '289.7500',
   '4. close': '289.7500',
   '5. volume': '1'},
  '2025-10-06 19:15:00': {'1. open': '289.4400',
   '2. high': '289.8500',
   '3. low': '289.1300',
   '4. close': '289.8500',
   '5. volume': '76'},
  '2025-10-06 19:10:00': {'1. open': '289.1300',
   '2. high': '289.1400',
   '3. low': '289.1300',
   '4. close': '289.1400',
   '5. volume': '16'},
  '2025-10-06 19:05:00': {'1. open': '289.1300',
   '2. high': '289.2000',
   '3. low': '289.1300',
   '4. close': '289.1300',
   '5. volume': '14'},
  '2025-10-06 19:00:00': {'1. open': '289.4200',
   '2. high': '289.4200',
   '3. low': '289.0000',
   '4. close': '289.2000',
   '5. volume': '472481'},
  '2025-10-06 18:55:00': {'1. open': '289.5000',
   '2. high': '289.8600',
   '3. low': '289.2000',
   '4. close': '289.2000',
   '5. volume': '777'},
  '2025-10-06 18:50:00': {'1. open': '289.5200',
   '2. high': '289.7827',
   '3. low': '289.5000',
   '4. close': '289.5000',
   '5. volume': '677'},
  '2025-10-06 18:45:00': {'1. open': '289.5100',
   '2. high': '289.5100',
   '3. low': '289.5100',
   '4. close': '289.5100',
   '5. volume': '13'},
  '2025-10-06 18:40:00': {'1. open': '289.5100',
   '2. high': '289.9000',
   '3. low': '289.5100',
   '4. close': '289.9000',
   '5. volume': '11'},
  '2025-10-06 18:35:00': {'1. open': '289.5100',
   '2. high': '289.5100',
   '3. low': '289.5000',
   '4. close': '289.5000',
   '5. volume': '6'},
  '2025-10-06 18:30:00': {'1. open': '289.4200',
   '2. high': '289.9000',
   '3. low': '289.4200',
   '4. close': '289.5100',
   '5. volume': '472510'},
  '2025-10-06 18:25:00': {'1. open': '289.8700',
   '2. high': '289.8700',
   '3. low': '289.5200',
   '4. close': '289.8600',
   '5. volume': '15'},
  '2025-10-06 18:20:00': {'1. open': '289.9000',
   '2. high': '289.9000',
   '3. low': '289.8700',
   '4. close': '289.8700',
   '5. volume': '37'},
  '2025-10-06 18:15:00': {'1. open': '289.5133',
   '2. high': '289.6000',
   '3. low': '289.5012',
   '4. close': '289.5100',
   '5. volume': '32'},
  '2025-10-06 18:10:00': {'1. open': '289.5251',
   '2. high': '289.7500',
   '3. low': '289.5000',
   '4. close': '289.6000',
   '5. volume': '226'},
  '2025-10-06 18:05:00': {'1. open': '289.7000',
   '2. high': '289.7000',
   '3. low': '289.7000',
   '4. close': '289.7000',
   '5. volume': '66'},
  '2025-10-06 18:00:00': {'1. open': '289.8700',
   '2. high': '289.8700',
   '3. low': '289.8000',
   '4. close': '289.8000',
   '5. volume': '41'},
  '2025-10-06 17:55:00': {'1. open': '289.8500',
   '2. high': '289.8800',
   '3. low': '289.6600',
   '4. close': '289.8700',
   '5. volume': '203'},
  '2025-10-06 17:50:00': {'1. open': '289.8800',
   '2. high': '289.8800',
   '3. low': '289.5000',
   '4. close': '289.5000',
   '5. volume': '21'},
  '2025-10-06 17:45:00': {'1. open': '289.7000',
   '2. high': '289.7000',
   '3. low': '289.7000',
   '4. close': '289.7000',
   '5. volume': '1'},
  '2025-10-06 17:40:00': {'1. open': '289.8800',
   '2. high': '289.8800',
   '3. low': '289.5000',
   '4. close': '289.5000',
   '5. volume': '13'},
  '2025-10-06 17:35:00': {'1. open': '289.7500',
   '2. high': '289.7500',
   '3. low': '289.6500',
   '4. close': '289.6500',
   '5. volume': '13'},
  '2025-10-06 17:30:00': {'1. open': '289.8000',
   '2. high': '289.8800',
   '3. low': '289.8000',
   '4. close': '289.8800',
   '5. volume': '101'},
  '2025-10-06 17:25:00': {'1. open': '289.8000',
   '2. high': '289.8800',
   '3. low': '289.8000',
   '4. close': '289.8700',
   '5. volume': '509'},
  '2025-10-06 17:20:00': {'1. open': '289.5000',
   '2. high': '289.8800',
   '3. low': '289.5000',
   '4. close': '289.5000',
   '5. volume': '122'},
  '2025-10-06 17:15:00': {'1. open': '289.6000',
   '2. high': '289.9000',
   '3. low': '289.5003',
   '4. close': '289.6500',
   '5. volume': '259'},
  '2025-10-06 17:10:00': {'1. open': '289.5900',
   '2. high': '289.9000',
   '3. low': '289.5200',
   '4. close': '289.5900',
   '5. volume': '17'},
  '2025-10-06 17:05:00': {'1. open': '289.8533',
   '2. high': '289.9000',
   '3. low': '289.5000',
   '4. close': '289.5900',
   '5. volume': '31'},
  '2025-10-06 17:00:00': {'1. open': '289.8000',
   '2. high': '289.8000',
   '3. low': '289.8000',
   '4. close': '289.8000',
   '5. volume': '1'},
  '2025-10-06 16:55:00': {'1. open': '289.5900',
   '2. high': '289.9000',
   '3. low': '289.5900',
   '4. close': '289.9000',
   '5. volume': '11'},
  '2025-10-06 16:50:00': {'1. open': '289.5500',
   '2. high': '289.5500',
   '3. low': '289.5000',
   '4. close': '289.5500',
   '5. volume': '47'},
  '2025-10-06 16:45:00': {'1. open': '289.8000',
   '2. high': '289.8000',
   '3. low': '289.8000',
   '4. close': '289.8000',
   '5. volume': '1'},
  '2025-10-06 16:40:00': {'1. open': '289.5100',
   '2. high': '289.8740',
   '3. low': '289.5100',
   '4. close': '289.8000',
   '5. volume': '29'},
  '2025-10-06 16:35:00': {'1. open': '289.8900',
   '2. high': '289.9000',
   '3. low': '289.5000',
   '4. close': '289.7500',
   '5. volume': '135'},
  '2025-10-06 16:30:00': {'1. open': '289.7000',
   '2. high': '289.7000',
   '3. low': '289.6000',
   '4. close': '289.6000',
   '5. volume': '22'},
  '2025-10-06 16:25:00': {'1. open': '289.6000',
   '2. high': '289.8800',
   '3. low': '289.5000',
   '4. close': '289.8800',
   '5. volume': '153'},
  '2025-10-06 16:20:00': {'1. open': '289.6200',
   '2. high': '289.9988',
   '3. low': '289.5000',
   '4. close': '289.6500',
   '5. volume': '30'},
  '2025-10-06 16:15:00': {'1. open': '289.4200',
   '2. high': '290.2400',
   '3. low': '289.4200',
   '4. close': '289.5000',
   '5. volume': '227'},
  '2025-10-06 16:10:00': {'1. open': '289.4200',
   '2. high': '290.2441',
   '3. low': '289.4200',
   '4. close': '290.0000',
   '5. volume': '472562'},
  '2025-10-06 16:05:00': {'1. open': '289.5001',
   '2. high': '290.3533',
   '3. low': '289.4200',
   '4. close': '290.2400',
   '5. volume': '53742'},
  '2025-10-06 16:00:00': {'1. open': '289.5100',
   '2. high': '290.0000',
   '3. low': '288.9000',
   '4. close': '289.5000',
   '5. volume': '1078752'},
  '2025-10-06 15:55:00': {'1. open': '289.9750',
   '2. high': '290.1700',
   '3. low': '289.4600',
   '4. close': '289.4600',
   '5. volume': '186750'},
  '2025-10-06 15:50:00': {'1. open': '290.1100',
   '2. high': '290.2400',
   '3. low': '289.9300',
   '4. close': '289.9300',
   '5. volume': '89543'},
  '2025-10-06 15:45:00': {'1. open': '290.2400',
   '2. high': '290.3000',
   '3. low': '290.0400',
   '4. close': '290.0600',
   '5. volume': '38285'},
  '2025-10-06 15:40:00': {'1. open': '290.2700',
   '2. high': '290.3300',
   '3. low': '290.1800',
   '4. close': '290.2850',
   '5. volume': '30688'},
  '2025-10-06 15:35:00': {'1. open': '290.0800',
   '2. high': '290.3000',
   '3. low': '290.0800',
   '4. close': '290.2450',
   '5. volume': '22118'},
  '2025-10-06 15:30:00': {'1. open': '290.0500',
   '2. high': '290.1100',
   '3. low': '289.8650',
   '4. close': '290.0800',
   '5. volume': '30816'},
  '2025-10-06 15:25:00': {'1. open': '290.1000',
   '2. high': '290.1850',
   '3. low': '289.9900',
   '4. close': '290.0450',
   '5. volume': '17568'},
  '2025-10-06 15:20:00': {'1. open': '290.1900',
   '2. high': '290.2595',
   '3. low': '289.9800',
   '4. close': '290.1000',
   '5. volume': '36626'},
  '2025-10-06 15:15:00': {'1. open': '290.1300',
   '2. high': '290.2100',
   '3. low': '290.0777',
   '4. close': '290.1550',
   '5. volume': '13979'},
  '2025-10-06 15:10:00': {'1. open': '290.1600',
   '2. high': '290.2500',
   '3. low': '290.0700',
   '4. close': '290.1050',
   '5. volume': '18718'},
  '2025-10-06 15:05:00': {'1. open': '289.9800',
   '2. high': '290.1350',
   '3. low': '289.9100',
   '4. close': '290.1000',
   '5. volume': '23434'},
  '2025-10-06 15:00:00': {'1. open': '290.1000',
   '2. high': '290.1300',
   '3. low': '289.9500',
   '4. close': '289.9700',
   '5. volume': '15246'},
  '2025-10-06 14:55:00': {'1. open': '290.2325',
   '2. high': '290.2400',
   '3. low': '290.0201',
   '4. close': '290.1400',
   '5. volume': '19849'},
  '2025-10-06 14:50:00': {'1. open': '290.2800',
   '2. high': '290.3100',
   '3. low': '290.1900',
   '4. close': '290.2200',
   '5. volume': '17781'},
  '2025-10-06 14:45:00': {'1. open': '290.2250',
   '2. high': '290.3400',
   '3. low': '290.2200',
   '4. close': '290.3000',
   '5. volume': '9057'},
  '2025-10-06 14:40:00': {'1. open': '290.2500',
   '2. high': '290.3250',
   '3. low': '290.1900',
   '4. close': '290.2300',
   '5. volume': '15827'},
  '2025-10-06 14:35:00': {'1. open': '290.3750',
   '2. high': '290.3750',
   '3. low': '290.0800',
   '4. close': '290.2600',
   '5. volume': '20716'},
  '2025-10-06 14:30:00': {'1. open': '290.6700',
   '2. high': '290.6800',
   '3. low': '290.2901',
   '4. close': '290.3600',
   '5. volume': '19957'},
  '2025-10-06 14:25:00': {'1. open': '290.7350',
   '2. high': '290.8200',
   '3. low': '290.6450',
   '4. close': '290.6450',
   '5. volume': '16109'},
  '2025-10-06 14:20:00': {'1. open': '290.7600',
   '2. high': '290.7750',
   '3. low': '290.6700',
   '4. close': '290.7200',
   '5. volume': '13158'},
  '2025-10-06 14:15:00': {'1. open': '290.9400',
   '2. high': '291.0000',
   '3. low': '290.6401',
   '4. close': '290.9200',
   '5. volume': '12793'},
  '2025-10-06 14:10:00': {'1. open': '291.0800',
   '2. high': '291.0800',
   '3. low': '290.8000',
   '4. close': '291.0600',
   '5. volume': '16278'},
  '2025-10-06 14:05:00': {'1. open': '290.8500',
   '2. high': '291.2200',
   '3. low': '290.6900',
   '4. close': '291.0400',
   '5. volume': '24731'},
  '2025-10-06 14:00:00': {'1. open': '290.7899',
   '2. high': '290.8500',
   '3. low': '290.6400',
   '4. close': '290.8500',
   '5. volume': '13191'},
  '2025-10-06 13:55:00': {'1. open': '291.0400',
   '2. high': '291.0700',
   '3. low': '290.5148',
   '4. close': '290.7825',
   '5. volume': '21391'},
  '2025-10-06 13:50:00': {'1. open': '291.0100',
   '2. high': '291.4500',
   '3. low': '290.9300',
   '4. close': '291.0400',
   '5. volume': '26390'},
  '2025-10-06 13:45:00': {'1. open': '290.7600',
   '2. high': '291.0500',
   '3. low': '290.6700',
   '4. close': '291.0400',
   '5. volume': '15719'},
  '2025-10-06 13:40:00': {'1. open': '290.6600',
   '2. high': '290.8900',
   '3. low': '290.6600',
   '4. close': '290.7300',
   '5. volume': '18444'},
  '2025-10-06 13:35:00': {'1. open': '290.6700',
   '2. high': '290.8200',
   '3. low': '290.5300',
   '4. close': '290.7250',
   '5. volume': '24926'},
  '2025-10-06 13:30:00': {'1. open': '290.8100',
   '2. high': '290.8950',
   '3. low': '290.6400',
   '4. close': '290.6650',
   '5. volume': '14099'},
  '2025-10-06 13:25:00': {'1. open': '290.8200',
   '2. high': '290.9685',
   '3. low': '290.6700',
   '4. close': '290.7300',
   '5. volume': '27085'},
  '2025-10-06 13:20:00': {'1. open': '290.2800',
   '2. high': '290.9000',
   '3. low': '290.2350',
   '4. close': '290.8600',
   '5. volume': '20548'},
  '2025-10-06 13:15:00': {'1. open': '289.9900',
   '2. high': '290.2850',
   '3. low': '289.9598',
   '4. close': '290.1800',
   '5. volume': '9009'},
  '2025-10-06 13:10:00': {'1. open': '289.7400',
   '2. high': '289.9800',
   '3. low': '289.6300',
   '4. close': '289.9700',
   '5. volume': '11570'},
  '2025-10-06 13:05:00': {'1. open': '289.6000',
   '2. high': '289.7926',
   '3. low': '289.5700',
   '4. close': '289.7400',
   '5. volume': '14373'},
  '2025-10-06 13:00:00': {'1. open': '289.5750',
   '2. high': '289.7850',
   '3. low': '289.5750',
   '4. close': '289.6500',
   '5. volume': '14899'},
  '2025-10-06 12:55:00': {'1. open': '289.4150',
   '2. high': '289.6999',
   '3. low': '289.3700',
   '4. close': '289.6999',
   '5. volume': '14759'},
  '2025-10-06 12:50:00': {'1. open': '289.3500',
   '2. high': '289.4900',
   '3. low': '289.2800',
   '4. close': '289.4150',
   '5. volume': '13633'},
  '2025-10-06 12:45:00': {'1. open': '289.7400',
   '2. high': '289.8900',
   '3. low': '289.2800',
   '4. close': '289.3200',
   '5. volume': '18573'},
  '2025-10-06 12:40:00': {'1. open': '289.6860',
   '2. high': '290.0050',
   '3. low': '289.6752',
   '4. close': '289.7400',
   '5. volume': '24976'},
  '2025-10-06 12:35:00': {'1. open': '289.4800',
   '2. high': '289.7900',
   '3. low': '289.4800',
   '4. close': '289.6800',
   '5. volume': '11884'},
  '2025-10-06 12:30:00': {'1. open': '290.0700',
   '2. high': '290.0751',
   '3. low': '289.6400',
   '4. close': '289.6409',
   '5. volume': '17370'},
  '2025-10-06 12:25:00': {'1. open': '290.2800',
   '2. high': '290.4698',
   '3. low': '289.9750',
   '4. close': '290.0700',
   '5. volume': '17729'},
  '2025-10-06 12:20:00': {'1. open': '289.6722',
   '2. high': '290.5000',
   '3. low': '289.6700',
   '4. close': '290.5000',
   '5. volume': '20602'},
  '2025-10-06 12:15:00': {'1. open': '289.5500',
   '2. high': '289.8700',
   '3. low': '289.4900',
   '4. close': '289.6700',
   '5. volume': '14686'},
  '2025-10-06 12:10:00': {'1. open': '289.7600',
   '2. high': '289.7600',
   '3. low': '289.4450',
   '4. close': '289.6000',
   '5. volume': '15319'},
  '2025-10-06 12:05:00': {'1. open': '289.5350',
   '2. high': '290.1243',
   '3. low': '289.3100',
   '4. close': '289.7700',
   '5. volume': '19872'},
  '2025-10-06 12:00:00': {'1. open': '289.7801',
   '2. high': '289.8999',
   '3. low': '289.4950',
   '4. close': '289.5180',
   '5. volume': '21119'},
  '2025-10-06 11:55:00': {'1. open': '290.1600',
   '2. high': '290.2300',
   '3. low': '289.5500',
   '4. close': '289.7800',
   '5. volume': '29766'},
  '2025-10-06 11:50:00': {'1. open': '290.6200',
   '2. high': '290.6200',
   '3. low': '290.1101',
   '4. close': '290.1200',
   '5. volume': '19895'},
  '2025-10-06 11:45:00': {'1. open': '290.9050',
   '2. high': '290.9050',
   '3. low': '290.4987',
   '4. close': '290.6800',
   '5. volume': '20398'},
  '2025-10-06 11:40:00': {'1. open': '290.4700',
   '2. high': '290.9700',
   '3. low': '290.4700',
   '4. close': '290.9000',
   '5. volume': '28444'}}}

In [14]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo&datatype=csv'

In [15]:
pd.read_csv(url)

              timestamp      open      high       low    close  volume
0   2025-10-06 19:55:00  289.1300  289.4000  289.1300  289.140      24
1   2025-10-06 19:50:00  289.8400  289.8400  289.4100  289.410      89
2   2025-10-06 19:45:00  289.8400  289.8400  289.5200  289.670     117
3   2025-10-06 19:40:00  289.8400  289.8400  289.6000  289.670      54
4   2025-10-06 19:35:00  289.6900  289.6900  289.1300  289.600      18
..                  ...       ...       ...       ...      ...     ...
95  2025-10-06 12:00:00  289.7801  289.8999  289.4950  289.518   21119
96  2025-10-06 11:55:00  290.1600  290.2300  289.5500  289.780   29766
97  2025-10-06 11:50:00  290.6200  290.6200  290.1101  290.120   19895
98  2025-10-06 11:45:00  290.9050  290.9050  290.4987  290.680   20398
99  2025-10-06 11:40:00  290.4700  290.9700  290.4700  290.900   28444

[100 rows x 6 columns]

# ETF Constit

In [16]:
url = 'https://www.alphavantage.co/query?function=ETF_PROFILE&symbol=QQQ&apikey=demo'

r = requests.get(url)

data = r.json()

In [17]:
div_yield = data['dividend_yield']
inc_date = data['inception_date']
data = data['holdings']

In [18]:
df = pd.json_normalize(data)
df = df.rename(columns={'symbol' : 'ticker',
           'description' : 'name'})
df['weight'] = df['weight'].astype('float')

In [20]:
df

    ticker                     name  weight
0     NVDA              NVIDIA CORP  0.0987
1     MSFT           MICROSOFT CORP  0.0838
2     AAPL                APPLE INC  0.0822
3     AVGO             BROADCOM INC  0.0558
4     AMZN           AMAZON.COM INC  0.0510
..     ...                      ...     ...
97     CDW                 CDW CORP  0.0011
98    LULU  LULULEMON ATHLETICA INC  0.0011
99     GFS      GLOBALFOUNDRIES INC  0.0011
100     ON    ON SEMICONDUCTOR CORP  0.0011
101    ARM     ARM HOLDINGS PLC ADR  0.0010

[102 rows x 3 columns]

# Company Fundementals
## Company Overview

In [61]:
import config

In [64]:
ticker = "AAPL"
params = {
    "function" : "OVERVIEW",
    "symbol" : ticker,
    "apikey" : config.api_key
}
base_url = 'https://www.alphavantage.co/query'

In [ ]:
r = requests.get(base_url, params=params)
data = r.json()

In [70]:
wanted_cols = ['Symbol', 'AssetType', 'Name', 'Description', 'Currency',
               'Country', 'Sector', 'Industry', 'MarketCapitalization',
            	'DividendYield', 'SharesOutstanding']
df = pd.DataFrame(data, index=[0])[wanted_cols]

In [71]:
df

,Symbol,AssetType,Name,Description,Currency,Country,Sector,Industry,MarketCapitalization,DividendYield,SharesOutstanding
0,AAPL,Common Stock,Apple Inc,Apple Inc. is a leading American multinational...,USD,USA,TECHNOLOGY,CONSUMER ELECTRONICS,3829117223000,0.0039,14840390000